<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We are a team of Vietnamese who work professionally for a big, international game studio by day while enjoy making our own tiny games by night. 
          </p>
      </div>
      <div class="col-lg-4">
        <p>We believe that good games make the world a better place.<br/>All of our games will be 100% free, no ads, educational, and not for profit.</p>
      </div>
    </div>
  </div>
</section>
